:root{
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
    --app-background-color: rgba(200, 31, 34, 1);

    /* Title bar settings */
    --title_bar-button-radius: 50%;
    --title-bar-close-btn-color: rgba(255, 92, 86, 1);
    --title-bar-close-btn-hover-color: rgba(226, 97, 97, 1);
    --title-bar-mimise-btn-color: rgba(252, 188, 45, 1);
    --title-bar-mimise-btn-hover-color: rgba(250, 195, 78, 1);
    --title-bar-maximise-btn-color: rgba(42, 200, 65, 1);
    --title-bar-maximise-btn-hover-color: rgb(78, 226, 100);

}

body, .bg_d4b6c5, .appMount_ea7e65 {
    background-color: var(--app-background-color) !important;
}

/* -------------- MAIN WINDOWS DISPOSITION ------------- */
.container_a4d4d9{
    display: grid;
    grid-template-columns: 30px 82px 1fr;
    transition: 0.2s all linear;
}
.server-toggle-button{
    grid-column: 1;
    grid-row: 1;
}
.container_a4d4d9 .guilds_a4d4d9{
    grid-column: 2;
    grid-row: 1;
}
/* ----------------------------------------------------- */

/* -------------- CHANNEL AND CHAT DISPOSITION ------------- */
.container_a4d4d9 .base_a4d4d9 .content_a4d4d9{
    display: grid;
    grid-template-columns: 250px 1fr;
    margin-bottom: 15px;
    margin-right: 15px;
}
.container_a4d4d9 .base_a4d4d9 .sidebar_a4d4d9{
    grid-column: 1;
    grid-row: 1;
    background-color: transparent;
}
.theme-dark .container_ee69e0 {
    grid-column: 1;
    grid-row: 1;
}
.container_a4d4d9 .base_a4d4d9 .content_a4d4d9 .chat_a7d72e {
    grid-column: 2;
    grid-row: 1;
}
.container_a4d4d9 .base_a4d4d9{
    grid-column: 3;
    grid-row: 1;
}
/* ----------------------------------------------------- */
