/**
* @name Discord Minimalist Theme
* @author roM
* @description 🔹Palette de couleurs sobres pour une ambiance douce et relaxante                                                                
               🔹Typographie propre et modernisée pour une lisibilité optimale                                    
               🔹Icônes redessinées et simplifiées, pour un look harmonieux                                      
               🔹Espacement optimisé pour un affichage bien aéré et organisé                                     
               🔹Personnalisation des rôles et canaux pour une navigation intuitive                                 
* @version 0.0.1
* @source https://xxx.com
* @website https://clearvision.github.io
*/

/** CREDIT & COPYRIGHT 
* 
* Ce thème est mis à disposition sous une licence libre de droits. Vous êtes autorisé à utiliser, 
* modifier et distribuer ce thème sans restriction, à condition de conserver les crédits originaux. 
* Apportez votre touche personnelle pour améliorer ou adapter ce thème à vos besoins, et partagez-le avec la communauté.
*
*/

/** INSTALLATION DU THEME 
*
* Etape 1 : Télecharger et installer BetterDiscord https://betterdiscord.app/ (Executer l'installeur en Administrateur, il se peu que l'installation 
*           se bloque a la fin pour résoudre ce souci, kill le processus dans le gestionnaire des taches.
* Etape 2 : Une fois BetterDiscord installer, relancer Discord et aller dans les options, et tout bas un menu BetterDiscord apparu.
* Etape 3 : Rendez vous dans ce dossier "C:\Users\YourUserName\AppData\Roaming\BetterDiscord"
*           Dans se dossier se trouver un dossier Themes et un dossier Plugins.
*           Pour installer le theme déposer le fichier Plugins.js dans le dossier Plugins et le fichier theme.css dans le dossier Themes
* Etape 4 : Pour activer le theme, retourner dans les options Discord et dans le menu BetterDiscord, dans le sous menu Plugins et Themes et activé le Theme  
*
*/

/** MODIFICATION DU THEME
* 
* Pour modifier les couleurs du thème, rien de plus simple : changez les valeurs des variables dans ":root{}".
* Pour modifier les polices d'écriture, commencez par importer la police depuis Google Fonts puis 
* modifiez la variable correspondante, selon les polices certaine taille seront a ajuster. 
*
*/

/** CONTACT 
*
* Pour rapporter un bug ou juste pour me contacter voici mes moyens de contact 
* Steam : eyzou
* Disord : romfsr
*
*/

/* ------------------- FONTS IMPORT -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ----------------------------------------------------- */

/* ---------------- ALL THEME VARIABLES  ----------------*/
:root{
    /* Fonts */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
    
    /* Colors */
    --primary_bg : rgba(30, 31, 34, 1);
    --white-color: rgba(255, 255, 255, 1);
    
    /* Title bar settings */
    --title_bar-button-radius: 50%;
    --title-bar-close-btn-color: rgba(255, 92, 86, 1);
    --title-bar-close-btn-hover-color: rgba(226, 97, 97, 1);
    --title-bar-mimise-btn-color: rgba(252, 188, 45, 1);
    --title-bar-mimise-btn-hover-color: rgba(250, 195, 78, 1);
    --title-bar-maximise-btn-color: rgba(42, 200, 65, 1);
    --title-bar-maximise-btn-hover-color: rgb(78, 226, 100);

    /* Server bar toggle button settings */
    --toggle-button-color: rgba(230, 230, 230, 1);

    /* Server bar settings */
    --server-bar-bg_color: rgba(15, 15, 15, 1);
    --server-bar-border-radius: 8px;

}
/* ----------------------------------------------------- */
p{margin:0px; padding:0px;}


/* --------------------- TITLE BAR --------------------- */
.withFrame_a934d8 {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 0px;
    background: var(--primary_bg);
}
.wordmarkWindows_a934d8 {
    padding: 4px 30px 3px;
    top: 4px;
    color: var(--white-color);
}
.wordmarkWindows_a934d8::before {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 4px 0px 3px;
    width: 200px;
    height: auto;
    content: " | Minimalist";
    top: 3px;
    left: 86px;
    color: var(--white-color);
    font-family: var(--font-secondary);
    font-size: 11px;
}
/* ALL TITLE BAR DEFAULT BUTTON */
.winButton_a934d8 {
    width: 10px;
    height: 10px;
    top: 0;
    border-radius: var(--title_bar-button-radius);
}
/* TITLE BAR MINIMISE BUTTON */
.winButtonMinMax_a934d8{
    background-color: var(--title-bar-maximise-btn-color);
}
.winButtonMinMax_a934d8:hover{
    background-color: var(--title-bar-maximise-btn-hover-color);
}
/* TITLE BAR MAXIMISE BUTTON */
.winButtonMinMax_a934d8:last-child{
    margin-right: 10px;
    background-color: var(--title-bar-mimise-btn-color);
}
.winButtonMinMax_a934d8:last-child:hover{
    background-color: var(--title-bar-mimise-btn-hover-color);
}
/* TITLE BAR CLOSE BUTTON */
.winButtonClose_a934d8{
    margin-left: 10px;
    margin-right: 15px;
    background-color: var(--title-bar-close-btn-color);
}
.winButtonClose_a934d8:hover{
    background-color: var(--title-bar-close-btn-hover-color);
}
.winButtonClose_a934d8 svg,
.winButtonMinMax_a934d8 svg{
    display: none;
}
/* ----------------------------------------------------- */

/* -------------- MAIN WINDOWS DISPOSITION ------------- */
.container_a4d4d9{
    display: grid;
    grid-template-columns: 30px 82px 1fr;
    transition: 0.2s all linear;
}
/* ----------------------------------------------------- */

/* ----------------- SERVER BAR TOGGLE ----------------- */
.server-toggle-button{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary_bg);
    padding: 0px 10px 0px 10px;
}
.server-toggle-button div:nth-child(1){
    width: 50%;
    height: 2px;
    background-color: var(--toggle-button-color);
    transition: 0.1s all linear;
}
.server-toggle-button div:nth-child(2){
    width: 100%;
    height: 2px;
    margin:5px 0px;
    background-color: var(--toggle-button-color);
}
.server-toggle-button div:nth-child(3){
    width: 50%;
    height: 2px;
    background-color: var(--toggle-button-color);
    transition: 0.1s all linear;
}
.server-toggle-button:hover{
    cursor: pointer;
}
.server-toggle-button:hover div:nth-child(1),
.server-toggle-button:hover div:nth-child(3) {
    width: 100% !important;
}
/* ----------------------------------------------------- */

/* --------------------- SERVER BAR -------------------- */
.container_a4d4d9 .guilds_a4d4d9{
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 15px;
    padding: 10px 0px;
    background-color: var(--server-bar-bg_color);
    border-radius: var(--server-bar-border-radius);
    transition: 0.2s all linear;
    width: 72px;
}
.container_a4d4d9 .guilds_a4d4d9 .wrapper_c5f96a .icon_f90abb,
.container_a4d4d9 .guilds_a4d4d9 .wrapper_c5f96a .childWrapper_f90abb {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    transition: 0.1s all linear;
}
.container_a4d4d9 .guilds_a4d4d9 .wrapper_c5f96a:hover .icon_f90abb,
.container_a4d4d9 .guilds_a4d4d9 .wrapper_c5f96a:hover .childWrapper_f90abb{
    width: 45px;
    height: 45px;
}
.container_a4d4d9 .guilds_a4d4d9 .footer_aa1bff, 
.unreadMentionsFixedFooter_fea3ef {
    display: none;
}
/* ----------------------------------------------------- */




.container_a4d4d9 .base_a4d4d9{
    grid-column: 3;
    grid-row: 1;
}
.container_a4d4d9 .base_a4d4d9 .content_a4d4d9{
    display: grid;
    grid-template-columns: 250px 1fr;
}
.container_a4d4d9 .base_a4d4d9 .sidebar_a4d4d9{
    grid-column: 1;
    grid-row: 1;
    background-color: transparent;
    border-radius: 8px !important;
    margin-bottom: 15px;
}


/* -------------------- CHANNEL BAR -------------------- */
.theme-dark .container_ee69e0 {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(43, 45, 49, 1);
    border: 1px solid #353535;
    border-radius: 8px !important;
    margin-bottom: 10px;
    padding: 0px 0px 10px 0px;
}
.theme-dark .container_ee69e0 .icon_a08117 {
    position: absolute;
    left: 2px;
    top: 5px;
    width: 15px;
    height: 15px;
    color: #fff;
}
.theme-dark .container_ee69e0 .text_a5ad5c {
    font-size: 13px;
    font-family: var(--font-secondary);
    color: #fff;
    padding-left: 5px;
}

.theme-dark .container_ee69e0 .name_d8bfb3 {
    font-size: 14px;
}
.theme-dark .container_ee69e0 .modeUnreadImportant_d8bfb3 .name_d8bfb3,
.theme-dark .container_ee69e0 .modeSelected_d8bfb3 .name_d8bfb3,
.theme-dark .container_ee69e0 .modeConnected_d8bfb3 .name_d8bfb3 {
    font-size: 14px;
    color: #ffffff;
}

.theme-dark .container_ee69e0 .iconContainer_d8bfb3 {
    display: none;
}




/* ----------------------------------------------------- */


/* ----- PRIVATE MESSAGE BAR ----- */
.privateChannels_f0963d {
    background-color: rgba(43, 45, 49, 1);
    border: 1px solid #353535;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px 0px;
}
/* ----------------------------------------------------- */

/* ----- CHANNEL BAR USER PANEL ----- */
.theme-dark .container_b2ca13 {
    background-color: rgba(43, 45, 49, 1);
    border: 1px solid #353535;
    border-radius: 8px;
    color: #FFF;
}
/* ----------------------------------------------------- */

/* ----- CHANNEL BAR USER OPTIONS ----- */
.container_adcaac {
    border-bottom: 0px solid var(--background-modifier-accent);
    background-color: rgba(43, 45, 49, 1);
    border: 1px solid #353535;
    margin-bottom: 10px;
    border-radius: 8px;
}
.container_adcaac .actionButtons_adcaac button{
    background-color: rgb(38, 95, 99);
    color: #FFF;
}
/* ----------------------------------------------------- */









.container_a4d4d9 .base_a4d4d9 .content_a4d4d9 .chat_a7d72e {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 8px !important;
    background-color: transparent;
}

.theme-dark .themed_fc4f04 {
    border-radius: 8px;
    background-color: rgba(43, 45, 49, 1);
    border: 1px solid #353535;
    margin-bottom: 10px;
}

.newMessagesBar_cf58b5 {
    top: 10px;
    border-radius: 8px;
}

.content_a7d72e:before {
    height: 0px;
}

.container_a4d4d9 .base_a4d4d9 .content_a4d4d9 .chat_a7d72e .chatContent_a7d72e {
    margin-right: 10px;
    border-radius: 8px;
    padding: 10px 0 0 0;
    background-image: 
        linear-gradient(rgba(35, 36, 40, 0.9), rgba(35, 36, 40, 0.9)), /* Couche de superposition avec opacité */
        url('https://rare-gallery.com/thumbs/959911-minimalism-simple-controllers-video-games-simple.png');
    background-size: cover;
    background-position: center;
    border: 1px solid #2d2d2d;
}






.container_a4d4d9 .base_a4d4d9 .content_a4d4d9 .chat_a7d72e .container_cbd271 {
    border-radius: 8px;
    background-color: rgba(35, 36, 40, 1);
}





.container_a823cd {
    position: relative;
    width: 340px;
    border-radius: 8px;
}
.userPanelInnerThemed_c69a7b {
    background-color: rgba(35, 36, 40, 1);
    border-radius: 8px;
}
.members_cbd271 {
    border-radius: 8px;
    background-color: rgba(35, 36, 40, 1);
    border: 1px solid #2d2d2d;
}
.members_cbd271 .membersGroup_cbd271 {
    padding: 24px 8px 0 16px;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}

