/* ----------------- SERVER BAR TOGGLE ----------------- */
.server-toggle-button{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary_bg);
    padding: 0px 10px 0px 10px;
}
.server-toggle-button div:nth-child(1){
    width: 50%;
    height: 2px;
    background-color: var(--toggle-button-color);
    transition: 0.1s all linear;
}
.server-toggle-button div:nth-child(2){
    width: 100%;
    height: 2px;
    margin:5px 0px;
    background-color: var(--toggle-button-color);
}
.server-toggle-button div:nth-child(3){
    width: 50%;
    height: 2px;
    background-color: var(--toggle-button-color);
    transition: 0.1s all linear;
}
.server-toggle-button:hover{
    cursor: pointer;
}
.server-toggle-button:hover div:nth-child(1),
.server-toggle-button:hover div:nth-child(3) {
    width: 100% !important;
}
/* ----------------------------------------------------- */
